{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.1"}

        oreo/oreo {:local/root ".."}

        org.clojars.lukaszkorecki/utility-belt {:mvn/version "2.3.0"}
        ring/ring-jetty-adapter {:mvn/version "1.14.1"}
        org.clojars.lukaszkorecki/mokujin-logback {:mvn/version "1.0.0.82"}
        org.clojars.lukaszkorecki/mokujin {:mvn/version "1.0.0.82"}}

 :aliases {:run {:main-opts ["-m" "foobar.core"]

                 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                            "-Duser.timezone=UTC"
                            "-Dfile.encoding=UTF-8"]}}}
