{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.1"}

        oreo/oreo {:local/root ".."}}

 :aliases {:run {:main-opts ["-m" "foobar.core"]

                 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                            "-Duser.timezone=UTC"
                            "-Dfile.encoding=UTF-8"]}}}
