{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        aero/aero {:mvn/version "1.1.6"}
        com.stuartsierra/component {:mvn/version "1.1.0"}}

 :aliases {:dev {:paths ["src" "resources" "dev-resources"]
                 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                            "-Duser.timezone=UTC"
                            "-Dfile.encoding=UTF-8"]}

           :test {:main-opts ["-m" "kaocha.runner"]
                  :extra-paths ["test" "dev-resources"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               org.clojars.lukaszkorecki/utility-belt {:mvn/version "2.3.0"}
                               nubank/matcher-combinators {:mvn/version "3.9.1"}
                               ring/ring-jetty-adapter {:mvn/version "1.14.1"}}}}}
