{:settings {:greeting "hello world"}

 :oc/system {;; demonstrrates using Aero features
             :settings #ref [:settings]

             ;; Uses a init function from a library, and how to pass init configuration
             ;; + use refrences to functions
             ;; + dependency injection
             :http-server #:oc {:create :utility-belt.component.jetty/create
                                :init {:config {:port 8080}
                                         ;; we're using fn! because jetty component does a strict check on arguments and requires :handler to pass `fn?`
                                         ;; as precondition
                                         :handler #oc/ref! oreo.core-test/handler}

                                :using [:settings]}
             ;; functions can be used as components, and we can use keywords rather than symbols
             :http-client #oc/ref :oreo.core-test/http-client}}
